@model GülBlogMVC5.Models.Data
@{
    ViewBag.Title = @ViewBag.blogtitle;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="~/Scripts/bootstrap.bundle.min.js"></script>

<style>
    #exampleModal .btn-close {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
    }
</style>
<!--================ Hero sm Banner start =================-->
<section class="mb-30px">
    <div class="container">
        <div class="hero-banner hero-banner--sm">
            <div class="hero-banner__content">
                <h1>
                    @ViewBag.blogtitle
                </h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.RouteUrl("Home")">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog Detayı</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--================ Hero sm Banner end =================-->
<!--================ Start Blog Post Area =================-->
<section class="blog-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_details">
                    <img style="width:740px; height:410px; object-fit:cover;" class="img-fluid" src="~/img/@Model.Blog.BLOGPIC">
                    <a href="@Url.RouteUrl("Detail",new {slug = Model.Blog.BLOGSEOURL})"><h4>@Model.Blog.BLOGTITLE</h4></a>
                    <div class="user_details">
                        <div class="float-left">
                            <a href="@Url.RouteUrl("useCategory", new {slug = Model.Blog.CATEGORYSEOURL})">@Model.Blog.CATEGORYNAME</a>
                        </div>
                        <div class="float-right mt-sm-0 mt-3">
                            <div class="media">
                                <div class="media-body">
                                    <h5>@Model.Blog.NAMEANDSURNAME</h5>
                                    <p>@Model.Blog.DATE.Value.ToString("dd.MM.yyyy")</p>
                                </div>
                                <div class="d-flex">
                                    <img style="object-fit:cover;" width="42" height="42" src="~/img/@Model.Blog.PICTURE">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>@Model.Blog.BLOGDES</p>

                    <div class="news_d_footer flex-column flex-sm-row">
                        <a href="#"><span class="align-middle mr-2"><i class="ti-eye"></i>@Model.Blog.VIEWS Görüntülenme</span></a>
                        <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#"><span class="align-middle mr-2"><i class="ti-themify-favicon"></i></span>(@Model.Blog.COMMENTCOUNT) Yorumlar</a>
                        <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
                            @if (Model.Blog.FACEBOOK != null)
                            {
                                <a href="@Model.Blog.FACEBOOK"><i class="fab fa-facebook-f"></i></a>
                            }
                            @if (Model.Blog.TWITTER != null)
                            {
                                <a href="@Model.Blog.TWITTER"><i class="fab fa-twitter"></i></a>
                            }
                            @if (Model.Blog.INSTAGRAM != null)
                            {
                                <a href="@Model.Blog.INSTAGRAM"><i class="fab fa-instagram"></i></a>
                            }
                        </div>
                    </div>
                </div>


                <div class="navigation-area">
                    <div class="row">
                        @if (ViewBag.previousPost != null)
                        {
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="@Url.RouteUrl("Detail", new {slug = ViewBag.previousPost.SLUG})"><img style="width:100px; height:55px; object-fit:cover;" src="~/img/@ViewBag.previousPost.BLOGPIC"></a>
                                </div>
                                <div class="arrow">
                                    <a href="@Url.RouteUrl("Detail", new {slug = ViewBag.previousPost.SLUG})"><span class="lnr text-white lnr-arrow-left"></span></a>
                                </div>
                                <div class="detials">
                                    <p>Önceki Blog</p>
                                    <a href="@Url.RouteUrl("Detail", new {slug = ViewBag.previousPost.SLUG})"><h4>@ViewBag.previousPost.BLOGTITLE</h4></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-start align-items-center">
                                <div class="text-center ">
                                    İlk Blog
                                </div>
                            </div>
                        }
                        @if (ViewBag.nextPost != null)
                        {
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Sonraki Blog</p>
                                    <a href="@Url.RouteUrl("Detail", new {slug = ViewBag.nextPost.SLUG})"><h4>@ViewBag.nextPost.BLOGTITLE</h4></a>
                                </div>
                                <div class="arrow">
                                    <a href="@Url.RouteUrl("Detail", new {slug = ViewBag.nextPost.SLUG})"><span class="lnr text-white lnr-arrow-right"></span></a>
                                </div>
                                <div class="thumb">
                                    <a href="@Url.RouteUrl("Detail", new {slug = ViewBag.nextPost.SLUG})"><img style="width:100px; height:55px; object-fit:cover;" src="~/img/@ViewBag.nextPost.BLOGPIC"></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="text-center">
                                    Güncel Blog
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Yorum Yapın</h4>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                        </div>
                        <a href="#" class="button submit_btn">Post Comment</a>
                    </form>
                </div>
                <div class="comments-area">
                    <h4>(@Model.Blog.COMMENTCOUNT) Yorumlar</h4>
                    <div class="commentList"></div>

                    <button class="btn btn-primary w-100 mt-4" id="loadMoreBtn" style="display:none;">Daha fazla yükle</button>
                </div>
            </div>
            <!-- Start Blog Post Siddebar -->
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    <div class="single-sidebar-widget newsletter-widget">
                        <h4 class="single-sidebar-widget__title">Blog Arayın</h4>
                        <button class="bbtns d-block mt-20 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Arayınız...</button>
                    </div>

                    <div style="margin-top: 100px;" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 style="font-family: Arial, Helvetica, sans-serif;" id="exampleModalLabel">Blog Arayınız</h4>
                                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                        </svg>
                                    </button>
                                </div>
                                <div style="overflow:auto; max-height:400px;" class="modal-body">
                                    <div class="pb-2">
                                        <input class="w-100" type="text" placeholder="Arayınız..." id="searchInput" autocomplete="off" />
                                    </div>
                                    <div id="searchResults"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="single-sidebar-widget post-category-widget">
                        <h4 class="single-sidebar-widget__title">Kategoriler</h4>
                        <ul class="cat-list mt-20">
                            @foreach (var x in Model.CategoriesList)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("useCategory", new { slug = x.CATEGORYSEOURL })" class="d-flex justify-content-between">
                                        <p>@x.CATEGORYNAME</p>
                                        <p>(@x.BLOGCOUNT)</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Post Siddebar -->
    </div>
</section>
<!--================ End Blog Post Area =================-->

<script src="~/Scripts/jquery-3.7.1.min.js"></script>

<script>
    $(document).ready(function () {
        let debounceTimer;

        $('#searchInput').on('input', function () {
            clearTimeout(debounceTimer);

            let query = $(this).val().trim();

            debounceTimer = setTimeout(function () {
                if (query.length < 2) {
                    $('#searchResults').empty();
                    return;
                }

                $.ajax({
                    url: '/Blogs/Search',
                    method: 'GET',
                    data: { query: query },
                    success: function (data) {
                        let resultHtml = '';

                        if (data.length === 0) {
                            resultHtml = '<div class="text-muted p-2">Sonuç bulunamadı.</div>';
                        } else {
                            $.each(data, function (index, item) {
                                resultHtml += `
                                      <div class="d-flex flex-column" style="margin:10px 0px;">
                                          <a href="/blog/${item.slug}">
                                              <div class="w-100 d-flex">
                                                  <img style="width:150px; height:75px; object-fit:cover;" src="/img/${item.picture}" />
                                                  <div style="margin:0px 0px 0px 8px; color:#000;">
                                                      ${item.title}
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                  `;
                            });
                        }

                        $('#searchResults').html(resultHtml);
                    },
                    error: function () {
                        $('#searchResults').html('<div class="text-danger p-2">Bir hata oluştu.</div>');
                    }
                });

            }, 300); // 300ms debounce
        });
    });
</script>

<script>
    var blogId = '@Model.Blog.ID';
    var skip = 0;
    var take = 10;
    var loading = false;

    function loadComments(isLoadMore) {
        if (loading) return;
        loading = true;

        $.ajax({
            url: '/Blogs/PartialComment',
            data: { blogID: blogId, skip: skip, take: take },
            success: function (html) {
                if (isLoadMore) {
                    $('.commentList').append(html);
                } else {
                    $('.commentList').html(html);
                }

                var loadedMainComments = $(html).filter('.comment-list').filter(function () {
                    return $(this).data('ustid') == 0; 
                }).length;

                if (loadedMainComments < take) {
                    $('#loadMoreBtn').hide();
                } else {
                    $('#loadMoreBtn').show();
                }

                skip += loadedMainComments; 
                loading = false;
            },
            error: function () {
                loading = false;
            }
        });
    }

    $(document).ready(function () {
        loadComments(false);

        $('#loadMoreBtn').click(function () {
            loadComments(true);
        });
    });
</script>
