@using GülBlogMVC5.Models
@model Data
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main class="site-main">
    <!--================Hero Banner start =================-->
    <section class="mb-30px">
        <div class="container">
            <div class="hero-banner">
                <div class="hero-banner__content">
                    <h3>Tur & Seyehat</h3>
                    <h1>Dünyadaki Muhteşem Yerleri Tanıtıyoruz</h1>
                    <h4>Başlangıç 16.05.2025</h4>
                </div>
            </div>
        </div>
    </section>
    <!--================Hero Banner end =================-->
    <!--================ Blog slider start =================-->
    <section>
        <div class="container">
            <div class="owl-carousel owl-theme blog-slider">
                @foreach (var x in Model.Blog.OrderBy(x => Guid.NewGuid()).Select(x => new { x.BLOGPIC, x.TBLCATEGORY.CATEGORYNAME, x.BLOGTITLE, x.DATE }))
                {
                    <div class="card blog__slide text-center">
                        <div class="blog__slide__img">
                            <img class="card-img rounded-0" src="~/img/@x.BLOGPIC">
                        </div>
                        <div class="blog__slide__content">
                            <a class="blog__slide__label" href="#">@x.CATEGORYNAME</a>
                            <h3><a href="#">@x.BLOGTITLE</a></h3>
                            <p>@TimeAgo(x.DATE.Value)</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--================ Blog slider end =================-->
    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    @foreach (var x in Model.Blog.OrderByDescending(x => x.ID).Select(x => new { x.BLOGPIC, x.TBLUSERS.NAMEANDSURNAME, x.DATE, x.BLOGTITLE, x.TBLCATEGORY.CATEGORYNAME, x.BLOGDES }).Take(10))
                    {
                        <div class="single-recent-blog-post">
                            <div class="thumb">
                                <img style="object-fit:cover;" width="730" height="410" class="img-fluid" src="~/img/@x.BLOGPIC">
                                <ul class="thumb-info">
                                    <li><a href="#"><i class="ti-user"></i>@x.NAMEANDSURNAME</a></li>
                                    <li><a href="#"><i class="ti-notepad"></i>@x.DATE.Value.ToString("dd.MM.yyyy")</a></li>
                                    <li><a href="#"><i class="ti-themify-favicon"></i>2 Comments</a></li>
                                </ul>
                            </div>
                            <div class="details mt-20">
                                <a href="blog-single.html">
                                    <h3>
                                        @x.BLOGTITLE
                                    </h3>
                                </a>
                                <p class="tag-list-inline">Kategori: <a href="#">@x.CATEGORYNAME</a></p>
                                <p>@x.BLOGDES.Substring(0, 150)</p>
                                <a class="button" href="#">Daha Fazla Oku <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    }
                </div>
                <!-- Start Blog Post Siddebar -->
                <div class="col-lg-4 sidebar-widgets">
                    <div class="widget-wrap">
                        <div class="single-sidebar-widget popular-post-widget">
                            <h4 class="single-sidebar-widget__title">Popüler Bloglar</h4>
                            <div class="popular-post-list">
                                @foreach (var x in Model.Blog.Select(x => new { x.BLOGPIC, x.TBLUSERS.NAMEANDSURNAME, x.DATE, x.BLOGTITLE }).Take(5))
                                {
                                    <div class="single-post-list">
                                        <div class="thumb">
                                            <img class="card-img rounded-0" src="~/img/@x.BLOGPIC">
                                            <ul class="thumb-info">
                                                <li><a href="#">@x.NAMEANDSURNAME</a></li>
                                                <li><a href="#">@x.DATE.Value.ToString("dd.MMMM")</a></li>
                                            </ul>
                                        </div>
                                        <div class="details mt-20">
                                            <a href="blog-single.html">
                                                <h6>@x.BLOGTITLE</h6>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        @{
                            GulBlogMVC5Entities db = new GulBlogMVC5Entities();

                            var populercategory = db.TBLCATEGORY
                                                  .Where(x => x.STATUS == true)
                                                  .Select(x => new
                                                  {
                                                      CategoryName = x.CATEGORYNAME,
                                                      BlogCount = db.TBLBLOGS.Count(b => b.CATEGORYID == x.ID && b.STATUS == true)
                                                  })
                                                  .OrderByDescending(x => x.BlogCount).Take(6)
                                                  .ToList();

                            ViewBag.populerkategori = populercategory;
                        }
                        <div class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="single-sidebar-widget__title">Popüler Kategoriler</h4>
                            <ul class="list">
                                @foreach (var kategori in ViewBag.populerkategori)
                                {
                                    <li>
                                        <a href="#">@kategori.CategoryName (@kategori.BlogCount)</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Post Siddebar -->
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
</main>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>

@functions {
    public static string TimeAgo(DateTime dateTime)
    {
        TimeSpan timeSpan = DateTime.Now - dateTime;

        if (timeSpan.TotalSeconds < 60)
        {
            return "az önce";
        }
        else if (timeSpan.TotalMinutes < 60)
        {
            int minutes = (int)timeSpan.TotalMinutes;
            return $"{minutes} dakika önce";
        }
        else if (timeSpan.TotalHours < 24)
        {
            int hours = (int)timeSpan.TotalHours;
            return $"{hours} saat önce";
        }
        else if (timeSpan.TotalDays < 30)
        {
            int days = (int)timeSpan.TotalDays;
            return $"{days} gün önce";
        }
        else if (timeSpan.TotalDays < 365)
        {
            int months = (int)(timeSpan.TotalDays / 30);
            return $"{months} ay önce";
        }
        else
        {
            int years = (int)(timeSpan.TotalDays / 365);
            return $"{years} yıl önce";
        }
    }
}

